* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

#canvas1 {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  width: 800px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
